body {
    background-color: lightgrey;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; 
    padding: 0; 
}

#fixed-header {
    background-color: rgb(51, 53, 77);
    position: fixed; /* Hace que el encabezado se mantenga fijo */
    top: 0; /* Coloca el encabezado en la parte superior de la página */
    width: 100%; /* Ancho del encabezado al 100% del ancho de la ventana */
    z-index: 5; /* Establece una capa superior para el encabezado */
}
section{
    position:relative;
}

section h2{
    background-color: rgb(51,53,77);
    text-align: center;
    margin: 0 auto;
    width:80%;
    padding:10px;
}

article{
    border-radius: 8px;
    background-color: white;
    margin: 0 auto;
    width:70%; 
    margin-bottom: 15px;   
}

article h3{
    border-radius: 8px 8px 0 0;
    background-color: green;
    padding: 5px;
}
article p{
    color:black;
    text-align: justify;
    padding:10px;
}